@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.landing-page-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.image-header{
    height: 72px;
}

.menu-header{
    display: flex;
    gap: 32px;
}

.menu-item-header{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.content{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-written-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-written-title-content{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}